.avue-top {
	position: relative;
	box-sizing: border-box;
	height: $top_height;
	font-size: 28px;
	line-height: $top_height;
	color: rgb(0 0 0 / 65%);
	white-space: nowrap;
	background-color: #ffffff;
	box-shadow: 0 1px 2px 0 rgb(0 0 0 / 15%);
	.el-menu-item {
		i,
		span {
			font-size: 13px;
		}
	}
}
.avue-breadcrumb {
	height: 100%;
	i {
		font-size: 30px !important;
	}
	&--active {
		transform: rotate(90deg);
	}
}
.top-user {
	display: flex;
	align-items: center;
	margin-left: 20px;

	//   i{
	//     margin-left: 5px;
	//   }
}
.top-menu {
	.el-menu-item {
		padding: 0 10px;
		border: none;
	}
}
.top-search {
	position: absolute !important;
	top: 0;
	right: 200px;
	width: 300px;
	line-height: $top_height;
	.el-input__wrapper {
		font-size: 13px;
		background-color: transparent;
		border: none;
		box-shadow: none;
	}
}
.top-bar__img {
	box-sizing: border-box;
	width: 30px;
	height: 30px;
	padding: 2px;
	margin: 0 5px;
	vertical-align: middle;
	border: 1px solid #eeeeee;
	border-radius: 100%;
}
.top-bar__left,
.top-bar__right {
	position: absolute;
	top: 0;
	height: $top_height;
	margin-top: 2px;
	i {
		line-height: $top_height;
	}
}
.top-bar__left {
	left: 10px;
}
.top-bar__right {
	right: 10px;
	display: flex;
	align-items: center;
}
.top-bar__item {
	position: relative;
	display: inline-block;
	height: $top_height;
	margin: 0 7px;
	font-size: 16px;
	.el-badge__content.is-fixed {
		top: 12px;
		right: 5px;
	}
}
.top-bar__title {
	box-sizing: border-box;
	height: 100%;
	padding-left: 50px;
	overflow: hidden;
	font-size: inherit;
	font-weight: 400;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.avue-logo {
	box-sizing: border-box;
	height: $top_height;
	overflow: hidden;
	font-size: 20px;
	line-height: $top_height;
	color: #ffffff;
	background-color: #031527;
	box-shadow: 0 1px 2px 0 rgb(0 0 0 / 15%);
	&_title {
		display: block;
		font-size: 20px;
		font-weight: bold;
		text-align: center;
	}
	&_subtitle {
		display: block;
		font-size: 18px;
		font-weight: bold;
		color: #ffffff;
		text-align: center;
	}
}
